<section id="add" class="container">
    <div class="form-wrap">
      <h1>Agregar Cliente</h1>
      <form>
        <div class="input-group">
          <label for="Nombre">Nombre</label>
          <input type="text" name="Nombre" id="Nombre" class="input-box"
            maxlength="100" required>
        </div>
        <div class="input-group">
          <label for="Correo">Correo</label>
          <input type="text" name="Correo" id="Correo" class="input-box" 
          maxlength="100">
        </div>
        <div class="input-group">
          <label for="Telefono">Numero de telefono </label>
          <input type="text" name="Telefono" id="Telefono" class="input-box" >
        </div>
        <div class="input-group">
          <label for="Nacionalidad">Nacionalidad</label>
          <input type="text" name="Nacionalidad" id="Nacionalidad" class="input-box" >
        </div>
        <input type="submit" value="Add Client" class="btn btn-reverse">
      </form>
    </div>
  </section>



